*{padding:0;margin:0;box-sizing:border-box}body{font-family:"Inter",sans-serif}main{background:linear-gradient(28deg, rgb(91, 91, 91) 8%, rgb(175, 173, 173) 19%, rgb(141, 141, 141) 33%, rgb(222, 222, 222) 50%, rgb(213, 208, 208) 64%, rgb(253, 247, 247) 79%, rgb(114, 114, 114) 100%);min-height:800px}.template_titulos,.titulo{width:100%;height:100%;padding:1rem;display:flex;align-items:flex-end;color:orange}.instagram{color:#e51a7c;margin:1.5rem}.youtube{color:red;margin:1.5rem}.facebook{color:#1010d0;margin:1.5rem}header{display:flex;flex-direction:row;box-shadow:0 2px 5px rgba(0,0,0,.4)}.icono__bars{display:none}.logo img{border-radius:3rem}.slogan{display:flex;align-items:flex-end;justify-content:flex-start;width:25%}.slogan__text{font-size:18px;font-weight:bold;font-style:italic}.navegacion{display:flex;justify-content:flex-end;align-items:center;width:80%;z-index:10000}.navegacion__lista{margin-bottom:0rem}.navegacion__boton{display:inline;padding:.4rem .8rem}.navegacion__boton a{color:#e47711;text-decoration:none}.navegacion__boton--atras{display:none;font-size:2rem;font-weight:bold;color:#e47711;text-decoration:none}.navegacion__boton a:hover{transition:all .3s ease-in;font-weight:700}.navegacion__boton:hover{border-radius:50px;background-color:#e0dddd;transition:background-color .3s ease-in}.busqueda{margin-right:2rem}.menu__bars{display:none}.navegacion__boton--atras a{display:block}@media screen and (max-width: 1024px){.navegacion{width:100%;justify-content:space-around}.navegacion__lista{width:100%;padding:.5rem;display:flex;flex-wrap:wrap;justify-content:space-between}.navegacion__boton{padding:0rem;margin-right:auto}.busqueda{display:none}}@media screen and (max-width: 450px){.slogan{align-items:center;width:65%}.menu__bars{width:20%;text-decoration:none;color:orange;font-size:2rem;display:flex;justify-content:space-around;align-items:center}.icono__bars{display:block}#sidebar{background-color:#e0dddd;position:fixed;top:0;left:0;height:100vh;width:60%;max-width:300px;transform:translateX(-100%);transition:transform .6s ease}#sidebar .navegacion__lista{height:50%;flex-direction:column;justify-content:space-around;align-items:flex-start}#sidebar:target{transform:translateX(0)}.navegacion__boton--atras{display:block}}.producto__destacado{display:grid;grid-template-columns:1fr 1fr;grid-template-rows:.1fr 1fr;grid-template-areas:"subtitulo subtitulo" "texto video";line-height:2rem;border:solid #e47711;background-color:#afafaf;border-radius:1rem;margin:3rem 5rem 0rem}.producto__destacado--subtitulo{grid-area:subtitulo;padding-top:1rem;padding-left:1rem;font-weight:700}.producto__destacado--descripcion{text-align:justify;grid-area:texto;padding:1rem 3rem;font-weight:400}.producto__destacado--video{padding:1rem 3rem;grid-area:video}.producto__destacado--video iframe{height:100%;width:100%}.banner{margin-top:.5rem;height:150px;background-image:url(../images/productos-destacados-banner.jpg)}.brands{display:flex;justify-content:center;margin:2rem;margin-bottom:0}.brands ul{background-color:#383d3f;display:flex;border-radius:5px;overflow:hidden;padding:0}.brands__svg{padding:1.5rem 4rem;display:inline;border:solid 1px orange}.brands__svg path{fill:#6a6a6a}.brands__svg:hover .brands__svg--ryzen path{fill:#000;transition:all .5s ease-out}.brands__svg:hover .brands__svg--asus path{fill:#00539b;transition:all .5s ease-out}.brands__svg:hover .brands__svg--intel path{fill:#0068b5;transition:all .5s ease-out}.brands__svg:hover .brands__svg--nvidia .text{fill:#000;transition:all .5s ease-out}.brands__svg:hover .brands__svg--nvidia .icon{fill:#76b900;transition:all .5s ease-out}.brands__svg:hover .brands__svg--asrock path{fill:#79bd28;transition:all .5s ease-out}.brands__svg:hover .brands__svg--bequiet .be{fill:#000;transition:all .5s ease-out}.brands__svg:hover .brands__svg--bequiet .quiet{fill:#ee7f00;transition:all .5s ease-out}svg:hover{transform:scale(1.15);transition:all .5s ease-out}@media screen and (max-width: 1189px){.producto__destacado{max-height:1000px;margin:.5rem;display:grid;grid-template-columns:1fr;grid-template-rows:.1fr 1fr 1fr;grid-template-areas:"subtitulo" "texto" "video"}.producto__destacado--descripcion{padding:1rem 2rem}.producto__destacado--video{padding:.5rem}.brands{display:none}}@media screen and (max-width: 450px){.producto__destacado{height:70vh}.producto__destacado--descripcion{padding:1rem;line-height:1.7rem;overflow:scroll}.producto__destacado--subtitulo{display:flex;justify-content:center;padding-left:0rem}}.carousel__div{display:flex;justify-content:center}.carousel{width:40%}.empresa{display:flex;flex-wrap:wrap;justify-content:center;margin:2rem 2rem}.empresa__texto{font-weight:1500}@media screen and (max-width: 1024px){.descripcionEmpresa{display:flex}.carousel{width:75%}.carousel img{width:100vw}}@media screen and (max-width: 450px){.carousel{width:90%}.carousel img{width:100vw}}.contacto__cuerpo{display:grid;grid-template-columns:1fr 1fr 1fr 1fr;grid-template-areas:". formulario mapa .";justify-items:center;overflow:hidden}.contacto__cuerpo--formulario{display:flex;flex-direction:column;border:solid #e47711;border-radius:15px;padding:1rem;margin:3rem;grid-area:formulario}.contacto__cuerpo--formulario textarea{display:flex}.contacto__cuerpo--formulario select{display:flex}.contacto__cuerpo--formulario .input{display:flex;width:100%}.mapa{margin:3rem;padding:1rem;grid-area:mapa;border:solid #e47711;border-radius:15px}.donde__estamos{margin-bottom:2rem}button{padding:0rem 1rem;background-color:orange}@media screen and (max-width: 1024px){.contacto__cuerpo{display:grid;grid-template-columns:1fr;grid-template-rows:1fr 1fr;grid-template-areas:"formulario" "mapa"}.contacto__cuerpo--formulario{border-radius:1rem;margin:.5rem;padding:.5rem;width:50%;overflow:hidden}.mapa{display:flex;flex-direction:column;justify-content:center;margin:1rem}.mapa h2{display:flex;justify-content:center}}@media screen and (max-width: 450px){.contacto__cuerpo{display:grid;grid-template-columns:1fr;grid-template-rows:1fr 1fr;grid-template-areas:"formulario" "mapa"}.contacto__cuerpo--formulario{margin:.5rem;width:95%}.mapa{margin:1rem;width:93%}.mapa iframe{width:100%}}.tabla__productos{display:flex;flex-wrap:wrap;justify-content:space-evenly}.tabla__productos img{padding:.25em;height:200px;object-fit:contain}.lista__productos li{font-size:1.25em;display:flex;justify-content:justify}.articulos{background:#5b5b5b;background:linear-gradient(28deg, rgb(91, 91, 91) 8%, rgb(175, 173, 173) 19%, rgb(141, 141, 141) 33%, rgb(222, 222, 222) 50%, rgb(213, 208, 208) 64%, rgb(253, 247, 247) 79%, rgb(114, 114, 114) 100%)}.img_cuenta{display:flex;justify-content:center}.icono_cuenta{margin:1rem;font-size:4rem}.img_retiro{display:flex;justify-content:center}.icono_retiro{margin:1rem;font-size:4rem}.img_pagos{display:flex;justify-content:center}.icono_pagos{margin:1rem;font-size:4rem}footer{min-height:250px;display:flex;flex-direction:column-reverse;justify-content:center;background-color:#000}footer .map{display:flex;justify-content:space-around;align-items:center}footer .map ul{list-style:none}footer .map a{text-decoration:none;color:#e47711}footer .map__redes{display:flex;align-items:center}footer .servicios{display:flex;align-items:center}footer .servicios ul{list-style:none}footer .servicios a{text-decoration:none;color:#e47711}.copyright{display:flex;justify-content:center}.copyright__texto{margin:0}@media screen and (max-width: 450px){.map{flex-wrap:wrap}.map ul{display:flex}.map ul li{padding:0rem 1rem}}

/* Luego lo minifico pasandolo a sass! */

a {
    text-decoration: none;
}

.popUp{
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    transform: translateY(-110%);
    transition: all 1s ease-in-out;  
    border: 3px solid #e47711;
    box-shadow: rgb(240, 174, 52, 0.25) -5px 5px 7px 0px ;
    z-index: 15;
    width: 400px;
    max-width: 30%;
}

.active{
    transform:  translateY(0%);
    transition: all 1s ease-in-out;
}

.popUp__header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid black;
}


.popUp__header-title{
    font-size: 1.25rem;
    font-weight: bold;
}

.boton__cerrar{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bolder;
}

.popUp__body{
    padding: 10px;
}

.popUp__body-list{
    padding: 0rem;
    display: flex;
    flex-wrap: wrap;
}

.popUp__body-list li{
    list-style: none;
    padding: 5px;
}

.popUp__total{
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
}

.popUp__total-number{
    font-weight: bold;
}