
.img_cuenta{
    display: flex;
    justify-content: center;
}

.icono_cuenta{
    margin: 1rem;
    font-size: 4rem;
}

.img_retiro{
    display: flex;
    justify-content: center;
}

.icono_retiro{
    margin: 1rem;
    font-size: 4rem;
}

.img_pagos{
    display: flex;
    justify-content: center;
}

.icono_pagos{
    margin: 1rem;
    font-size: 4rem;
}
